<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="kg.optima.mobile"
    tools:ignore="MissingLeanbackLauncher">

    <queries>
        <package android:name="com.whatsapp"/>
    </queries>

    <uses-sdk tools:overrideLibrary="com.uttampanchasara.pdfgenerator" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc.hce"
        android:required="false" />

    <application
        android:name=".android.OptimaApp"
        android:icon="@mipmap/optima_logo_title"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:logo="@mipmap/ic_optima24_launch"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        android:allowBackup="false"
        tools:targetApi="m" >

        <activity
            android:name="kg.optima.mobile.android.ui.SingleActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="kg.optima.mobile.android.ui.features.biometrics.LivenessActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="kg.optima.mobile.android.ui.features.biometrics.DocumentScanActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="kz.optimabank.optima24.activity.CardLimitActivity"
            android:exported="false" />

        <activity android:name="kz.optimabank.optima24.activity.InterfaceFormActivity" />
        <activity android:name="kz.optimabank.optima24.activity.TestWebViewActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity
            android:name="kz.optimabank.optima24.activity.UnauthorizedTabActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="kz.optimabank.optima24.notifications.ui.NotificationsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="kz.optimabank.optima24.activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name="kz.optimabank.optima24.activity.TemplateActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="kz.optimabank.optima24.activity.MenuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="kz.optimabank.optima24.activity.AccountDetailsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="kz.optimabank.optima24.activity.InvoiceAblePaymentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="kz.optimabank.optima24.activity.TransfersActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="kz.optimabank.optima24.activity.StatementActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="kz.optimabank.optima24.activity.PaymentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="kz.optimabank.optima24.activity.SelectAccountActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TransparentForOreo" />
        <activity
            android:name="kz.optimabank.optima24.activity.SelectParameterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="kz.optimabank.optima24.activity.SmsConfirmActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="kz.optimabank.optima24.activity.ServicePointDetails"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="kz.optimabank.optima24.activity.NavigationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="kz.optimabank.optima24.activity.Communications"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="kz.optimabank.optima24.activity.ChangeAppLangActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="kz.optimabank.optima24.activity.ProfileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="kz.optimabank.optima24.activity.SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="kz.optimabank.optima24.activity.PaymentResultActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="kz.optimabank.optima24.receipt.ui.ReceiptActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="kz.optimabank.optima24.activity.SessionDialogActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity android:name="kz.optimabank.optima24.activity.contacts.SelectContactsActivity"/>

        <service
            android:name="kz.optimabank.optima24.notifications.service.Optima24MessagingService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/white" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD87ev_u-fDGxPmEH7yWnn-785sHrCSbDI" />

        <!--<activity
            android:name="kz.optimabank.optima24.scan.RPSScanCardActivity"
            android:theme="@style/AppTheme" />-->
        <activity android:name="kz.optimabank.optima24.activity.LoginAfterRegActivity" />
        <activity android:name="kz.optimabank.optima24.activity.CropImageActivity" />

        <activity android:name="kz.optimabank.optima24.PollsActivity"
            android:screenOrientation="portrait"/>

    </application>
</manifest>
